* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*ANIMATIONS*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes poofUp {
  to {transform: translate(0,-50%); opacity: 0;}
}
@keyframes poofUp {
  to {transform: translate(0,-50%); opacity: 0}
}

@-webkit-keyframes nudgeUp {
  to {transform: translate(0,-6px)}
}
@-keyframes nudgeUp {
  to {transform: translate(0,-6px)}
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.grow:active { transform: rotate(-4deg);}

.arrow {transition: all .1s ease-in-out; }
.arrow:hover { transform: scale(1.1); }
.arrow:active { transform: scale(1) translate(0, 3px);}


/* ----------------------------
 ON APP LAUNCH
------------------------------ */

#webviewContainer {
  display: block;
  margin-top: 90px;
  background: #ECECEC;
  width: 100%;
  height: 100%;
  background-image: url('images/Bg.png');
  background-repeat: repeat;
  -webkit-animation: fadeIn 0.7s 1 normal;
  animation: fadeIn 0.7s 1 normal;
}

webview {
  width: 100%;
  height: 100%;
}

.side {
  transition: line-height 1s ease;
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  line-height: 90px;
  margin: 0;
  background: #FFF;
  color: #e8e8e8;
  min-width: 100vh;
  overflow-y: hidden;
  width: 100%;
  z-index: 1024;
  border-bottom: 4px solid #0232F5;
  /*box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);*/
  -webkit-animation: fadeIn 0.2s 1 normal; /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.2s 1 normal;
}

.pullRight {
  float: right;
  padding: 0 20px 0 0;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 0px 8px 0px 8px;
  vertical-align: middle;
  -webkit-animation: fadeIn 1s 1 normal;
  animation: fadeIn 1s 1 normal;
}

.wrLogoImg {
  transition: all 1s ease;
  width: 60px;
  float: left;
}
.wrLogoPlayerTxt{
  height: 15px;
  display: none;
}
.wrLogoImgTxt {
  transition: all 1s ease;
  height: 50px;
}
.replayCollection{
  height: 30px;
  position: relative;
  left: -150px;
  display: none;
}
.replayCollection:active{
  top: 2px;
}
.backToColl {
  height: 12px;
  margin-right: 5px;
  transition: all 0.5s ease;
  opacity: 0;
}
.openFile {
  transition: all 0.5s ease;
  height: 30px;
}
.halp {
  height: 20px;
}

#back {
  display: none;
}
#refresh {
  display: none;
  margin-right: 20px;
}
#forwardArrow {
  transform: rotate(180deg) translate(0, -1px);
}

#forward {
  display: none;
}

#open {
}



/* ----------------------------
 ON COLLECTION VIEW PAGE
 Add "viewCollection" class to #topBar and #viewCollection
------------------------------ */
.side.viewCollection {
  transition: line-height 1s ease;
  line-height: 90px;
}
.side.viewCollection #back{
  display: none;
}
.side.viewCollection #forward{
  transition: all 1s ease;
  transform: translate(0,-50%);
  opacity: 0;
}
.side.viewCollection .wrLogoImg {
  -webkit-animation: nudgeUp 0.7s 1 normal forwards;
  animation: nudgeUp 0.7s 1 normal forwards;
}
.side.viewCollection .wrLogoPlayerTxt{
  -webkit-animation: poofUp 0.8s 1 reverse forwards;
  animation: poofUp 0.8s 1 reverse forwards;
  display: inline-block;
  float: left;
  height: 8px;
  margin: 0 0 0 2px;
}
.side.viewCollection .wrLogoImgTxt {
  transition: all 1s ease;
  transform: translate(0,-50%);
  opacity: 0;
}
.side.viewCollection .replayCollection {
  display: block;
  -webkit-animation: fadeIn 1.5s 1 normal forwards;
  animation: fadeIn 1.5s 1 normal forwards;
}
.side.viewCollection .backToColl {
  transition: all 0.5s ease;
  opacity: 0;
}
.side.viewCollection .openFile {
  height: 20px;
}
#viewCollection.viewCollection {
  margin-top: 40px;
}


/* ----------------------------
 DURING REPLAY
 Add "replay" class to #topBar and #viewCollection
------------------------------ */

.side.replay {
  transition: line-height 1s ease;
  line-height: 40px;
}
.side.replay #refresh{
  -webkit-animation: fadeIn 0.2s 1 normal; /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.2s 1 normal;
  display: inline-block;
}
.side.replay #back{
  -webkit-animation: fadeIn 0.2s 1 normal; /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.2s 1 normal;
  display: inline-block;
}
.side.replay #forward{
  -webkit-animation: fadeIn 0.2s 1 normal; /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.2s 1 normal;
  display: inline-block;
}
.side.replay .wrLogoPlayerTxt{
  display: inline-block;
  float: left;
  height: 4px;
  display: none;
}
.side.replay .wrLogoImg {
  width: 30px;
  float: left;
  margin: -2px 0 0 0;
}
.side.replay .wrLogoImgTxt {
  display: none;
}
.side.replay .replayCollection {
  display: none;
}
.side.replay .backToColl {
  transition: all 0.5s ease;
  opacity: 1;
}
.side.replay .openFile {
  transition: all 0.5s ease;
  height: 20px;
}
#webviewContainer.replay {
  margin-top: 40px;
}



/* ----------------------------
Loader Page Stuff
------------------------------ */
#loaderContainer {
  width: 100%;
  height: 100%;
}

#loaderContainer #loadingGif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
}

.bigOpen {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
.bigOpen button {
  margin-top: 20vh;
  background-color: #0232F5;
  position: relative;
}
.bigOpen button:hover {
  transition: top 0 ease;
  top: 1px;
}
.bigOpen button:active {
  transition: all 0 ease;
  box-shadow: inset 0 5px 0 0 #0326B8;
  top: 3px;
}
object {
  pointer-events: none
}

#loadWarc{
  margin: 20px 80px;
  width: 100px;
}

.pageBottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 8%;
  width: 100%;
  font-family: sans-serif;
}
.projectByRhizome {
  position:fixed;
  width: 100%;
  bottom: 15%;
}
.projectByRhizome p{
  width: 220px;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1;
  font-family: sans-serif;
}
.projectByRhizome img{
  display: block;
  margin: 10px auto;
  width: 220px;
}

/**
 * help page
 */
.help {
  display: block;
  padding: 25px;
  width: 75vw;
  height: 75vh;
  margin: 10vh auto;
  background: #FFF;
  font-family: sans-serif;
  font-size: 19px;
  z-index: 90;
  overflow-y: scroll;
}
.help:before {
    content:' ';
    position: fixed;
    top:80vh;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 5vh;
    background:linear-gradient(
      to bottom,
      rgba(255,255,255,0),
      rgba(255,255,255,0.85) 50%
    );
    z-index:1;
}

.help h3 {
  font-size: 2rem;
  margin: 0 0 0.8rem 0;
}
.help h4 {
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0;
  font-weight: lighter;
}
.help h5 {
  font-size: 1.2rem;
  margin: 3rem 0 0.3rem 0;
  color: #0232F5;
}
.help p {
  font-size: 0.9rem;
  line-height: 1.35rem;
  margin: 0.8rem auto;
}

.help li {
  font-size: 0.95rem;
  margin-bottom: 0.6rem;
}

.help a {
  color: #4D6AE1;
  text-decoration: none;
}
.help a:hover{
  color: #0232F5 !important;
  box-shadow: 0 3px 0 #0232F5;
}
.help a:active{
  color: #0232F5;
  box-shadow: 0 4px 0 #0232F5;
}
.help a:visited{
  color: #4D6AE1;
  text-decoration: none;
}

.help .support-logos img{
  width: 180px;
  margin: 1rem 5rem 3rem 0;
}

.help .support-logos a:hover {
  text-decoration: none;
  box-shadow: none;
}
