@import 'app/shared/scss/vars.scss';

.player-url {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    font-family: $sans;

    & > li {
        display: flex;
        justify-content: space-between;

        &:last-of-type {
            border: solid 0 #000;
            border-width: 0 0 .1rem 0;
        }

        input {
            border-width: 0;
            background: transparent;
            padding: 0;
        }

        .bookmark-url {
            flex-grow: 1;
            position: relative;

            input {
                color: #000;
                width: 100%;

                &[type=text] {
                    height: 2.5rem;
                }

                &:focus {
                    outline-width: 0;
                }
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 4rem;
                height: 100%;
                background: linear-gradient(90deg, rgba(255,255,255,0), #FFF 80%);
            }
        }

        .timestamp-label {
            text-transform: uppercase;
            font-size: 1.4rem;
        }

        .bookmark-title {
            flex-grow: 1;
            position: relative;

            input {
                width: 100%;
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 4rem;
                height: 100%;
                background: linear-gradient(90deg, rgba(255,255,255,0), #FFF 80%);
            }
        }

        .bookmark-title, .timestamp-label {
            color: $blue;
        }

        .replay-date {
            display: flex;
            color: #000;
        }
    }
}