
html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* animations */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}