
html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* animations */
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url("shared/fonts/InknutAntiqua-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("shared/fonts/HKGrotesk-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("shared/fonts/HKGrotesk-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("shared/fonts/HKGrotesk-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("shared/fonts/HKGrotesk-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("shared/fonts/HKGrotesk-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "HKGrotesk";
    src: url("shared/fonts/HKGrotesk-Italic.ttf");
    font-style: italic;
}

